@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Montserrat", sans-serif;
	overflow-x: hidden;
}

header section {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #062A5C;
	color: #FFFFFF;
	padding: 0.5rem;
}

header section .contact-info {
	width: 42%;
}

header section .contact-info ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
}

header section .social-media-icons {
	width: 23%;
}

header section .social-media-icons ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
}

header section .social-media-icons ul li {
	cursor: pointer;
}

header section .social-media-icons ul li a {
	width: 35px;
	height: 35px;
	padding: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	border: none;
	border-radius: 5px;
	color: white;
	transition: 1s all;
}

header section .social-media-icons ul li .facebook:hover {
	background-color: #3B5998;
}

header section .social-media-icons ul li .twitter:hover {
	background-color: #1DA1F2;
}

header section .social-media-icons ul li .instagram:hover {
	background-color: #E4405F;
}

header section .social-media-icons ul li .linkedin:hover {
	background-color: #0077B5;
}

header section .social-media-icons ul li .youtube:hover {
	background-color: #C4302B;
}

header .nav {
	background-color: #FFFFFF;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

header .nav .logo {
	width: 35%;
	display: flex;
	align-items: center;
}

header .nav .logo img {
	width: 75px;
	height: 75px;
}

header .nav .logo a {
	font-size: 2.2rem;
	font-weight: 700;
	text-decoration: none;
	color: #000000;
	transition: 1s all;
}

header .nav .logo a:hover {
	color: #062A5C;
}

header .nav .logo .content {
	display: flex;
	flex-direction: column;
	color: #000000;
}

header .nav nav {
	width: 45%;
}

header .nav nav ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
}

header .nav nav ul li a {
	text-decoration: none;
	color: #000000;
	transition: 1s all;
}

header .nav nav ul li a:hover {
	color: #062A5C;
}

form label input {
	position: absolute;
	top: 6%;
	right: 5%;
	width: 30%;
	outline: none;
	border: 5px solid #000000;
	padding: 1rem;
	display: none;
}
