@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	overflow-x: hidden;
}

header section {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #062A5C;
	color: #FFFFFF;
	padding: 0.5rem;
	width: 100vw;
}

header section .contact-info {
	width: 36%;
}

header section .contact-info ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
	font-size: 0.8rem;
}

header section .social-media-icons {
	width: 23%;
}

header section .social-media-icons ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
}

header section .social-media-icons ul li {
	cursor: pointer;
}

header section .social-media-icons ul li a {
	width: 35px;
	height: 35px;
	padding: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	border: none;
	border-radius: 5px;
	color: white;
	transition: 1s all;
}

header section .social-media-icons ul li .facebook:hover {
	background-color: #3B5998;
}

header section .social-media-icons ul li .twitter:hover {
	background-color: #1DA1F2;
}

header section .social-media-icons ul li .instagram:hover {
	background-color: #E4405F;
}

header section .social-media-icons ul li .linkedin:hover {
	background-color: #0077B5;
}

header section .social-media-icons ul li .youtube:hover {
	background-color: #C4302B;
}

header .nav {
	background-color: #FFFFFF;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

header .nav .logo {
	width: 35%;
	display: flex;
	align-items: center;
}

header .nav .logo img {
	width: 75px;
	height: 75px;
}

header .nav .logo a {
	font-size: 2.2rem;
	font-weight: 700;
	text-decoration: none;
	color: #000000;
	transition: 1s all;
}

header .nav .logo a:hover {
	color: #062A5C;
}

header .nav .logo .content {
	display: flex;
	flex-direction: column;
	color: #000000;
}

header .nav nav {
	width: 45%;
}

header .nav nav ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
}

header .nav nav ul li a {
	text-decoration: none;
	color: #000000;
	transition: 1s all;
}

header .nav nav ul li a:hover {
	color: #062A5C;
}

form label input {
	position: absolute;
	top: 6%;
	right: 9%;
	width: 23%;
	outline: none;
	border: 8px solid #333333;
	padding: 0.8rem;
	display: none;
}

main {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	background-image: url(../images/london.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: #FFFFFF;
}

main .welcome {
	display: flex;
	flex-direction: column;
	width: 60%;
	padding: 3rem;
}

main .welcome h1 {
	font-size: 3rem;
	font-weight: 900;
	margin-bottom: 1rem;
}

main .welcome button {
	font-size: 1rem;
	font-weight: 600;
	color: #FFFFFF;
	padding: 1rem;
	padding-inline: 2rem;
	background: transparent;
	border: 2px solid white;
	border-radius: 30px;
	width: fit-content;
	transition: 1s all;
}

main .welcome button:hover {
	color: white;
	background-color: #062A5C;
	border: 2px solid #062A5C;
	cursor: pointer;
}

.main {
	display: flex;
	justify-content: center;
	margin-top: 2rem;
}

.main .back-content {
	width: 82%;
	background-image: url(../images/book.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.main .back-content .content {
	display: flex;
	align-items: center;
	width: 100%;
	color: #FFFFFF;
	background-color: rgba(255, 68, 0, 0.788);
}

.main .back-content .content .content-item {
	padding: 3.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: calc(100% / 3);
}

.main .back-content .content .content-item:nth-child(2) {
	border-left: 1px solid #333333;
}

.main .back-content .content .content-item:nth-child(3) {
	border-left: 1px solid #333333;
}

.main .back-content .content .content-item h2 {
	font-size: 1.5rem;
	font-weight: normal;
	margin-bottom: 1rem;
	text-align: center;
}

.why-main {
	width: 100%;
	padding: 2rem;
}

.why-main .why {
	width: 95%;
	margin-inline: auto;
}

.why-main .why h2 {
	font-size: 2.5rem;
	font-weight: 900;
	text-align: center;
	margin-top: 1rem;
	margin-bottom: 2rem;
}

.why-main .why .why-items {
	display: flex;
	justify-content: center;
}

.why-main .why .why-items .item {
	display: flex;
	align-items: center;
	padding: 1rem;
	width: calc(100% / 3);
}

.why-main .why .why-items .item .left {
	padding: 1rem;
}

.why-main .why .why-items .item .left i {
	background-color: #062A5C;
	padding: 1.5rem;
	outline: 0.5px dashed #062A5C;
	outline-offset: 2px;
	border-radius: 50%;
	font-size: 1.5rem;
	color: #FFFFFF;
}

.why-main .why .why-items .item .right h2 {
	font-size: 1.5rem;
	font-size: 700;
	margin-bottom: 1rem;
	text-align: left;
}

.why-main .why .why-items .item .right p {
	color: #524F4F;
	text-align: left;
}

.services-main {
	background-color: #F5F5F5;
	padding: 2rem;
	margin-top: 2rem;
	width: 100vw;
}

.services-main h2 {
	font-size: 2.5rem;
	font-weight: 900;
	text-align: center;
	margin-top: 1rem;
	margin-bottom: 2rem;
}

.services .services-items {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.services .services-items .services-item {
	width: 300px;
	height: 410px;
	background-color: #FFFFFF;
	margin: 1rem;
	box-shadow: 0px 0px 10px gray;
}

.services .services-items .services-item h2 {
	font-size: 1.1rem;
	margin-top: 0.5rem;
	padding-left: 1rem;
	text-align: left;
}

.services .services-items .services-item .img-general {
	width: 300px;
	height: 350px;
	background-image: url(../images/general.jpeg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin-bottom: 0.5rem;
	position: relative;
}

.services .services-items .services-item .img-general span {
	background-color: #062A5C;
	color: #FFFFFF;
	font-size: 0.8rem;
	font-weight: 900;
	padding: 0.5rem;
	position: absolute;
	top: 2%;
}

.services .services-items .services-item .img-russian {
	width: 300px;
	height: 350px;
	background-image: url(../images/russian.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin-bottom: 0.5rem;
	position: relative;
}

.services .services-items .services-item .img-russian span {
	background-color: #062A5C;
	color: #FFFFFF;
	font-size: 0.8rem;
	font-weight: 900;
	padding: 0.5rem;
	position: absolute;
	top: 2%;
}

.services .services-items .services-item .img-german {
	width: 300px;
	height: 350px;
	background-image: url(../images/germany.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin-bottom: 0.5rem;
	position: relative;
}

.services .services-items .services-item .img-german span {
	background-color: #062A5C;
	color: #FFFFFF;
	font-size: 0.8rem;
	font-weight: 900;
	padding: 0.5rem;
	position: absolute;
	top: 2%;
}

.services .services-items .services-item .img-ielts {
	width: 300px;
	height: 350px;
	background-image: url(../images/ielts.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin-bottom: 0.5rem;
	position: relative;
}

.services .services-items .services-item .img-ielts span {
	background-color: #062A5C;
	color: #FFFFFF;
	font-size: 0.8rem;
	font-weight: 900;
	padding: 0.5rem;
	position: absolute;
	top: 2%;
}

.services .services-items .services-item .img-cambridge {
	width: 300px;
	height: 350px;
	background-image: url(../images/cambridge.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin-bottom: 0.5rem;
	position: relative;
}

.services .services-items .services-item .img-cambridge span {
	background-color: #062A5C;
	color: #FFFFFF;
	font-size: 0.8rem;
	font-weight: 900;
	padding: 0.5rem;
	position: absolute;
	top: 2%;
}

.main-content {
	width: 100vw;
	display: flex;
	justify-content: center;
	background-image: url(../images/book.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.main-content .main-back {
	width: 100%;
	display: flex;
	justify-content: center;
	background-color: #062a5cc7;
}

.main-content .main-back .cont {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
}

.main-content .main-back .cont .cont-item {
	width: calc(100% / 4);
	color: #FFFFFF;
	padding: 3rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.main-content .main-back .cont .cont-item i {
	font-size: 4rem;
}

.main-content .main-back .cont .cont-item h2 {
	font-size: 3rem;
	font-weight: 900;
}

.main-content .main-back .cont .cont-item p {
	text-align: center;
}

.meetus {
	display: flex;
	flex-direction: column;
	background-color: #F5F5F5;
	padding: 3rem;
	width: 100vw;
}

.meetus h2 {
	font-size: 2.5rem;
	font-weight: 900;
	text-align: center;
	margin-bottom: 2rem;
}

.meetus .meet-items {
	display: flex;
	justify-content: space-around;
}

.meetus .meet-items .meet-item {
	width: 350px;
	height: 460px;
	box-shadow: 0px 0px 10px gray;
}

.meetus .meet-items .meet-item .meet-img-first, .meet-img-second, .meet-img-third {
	width: 350px;
	height: 400px;
}

.meetus .meet-items .meet-item .meet-img-first {
	background-image: url(../images/elmar.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.meetus .meet-items .meet-item .meet-img-second {
	background-image: url(../images/nabat.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.meetus .meet-items .meet-item .meet-img-third {
	background-image: url(../images/vafa.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.meetus .meet-items .meet-item h3 {
	transition: 1s all;
	cursor: pointer;
	margin-top: 0.5rem;
}

.meetus .meet-items .meet-item h3:hover {
	color: #062A5C
}

.meetus .meet-items .meet-item h3, p {
	text-align: center;
}

.students-main {
	width: 100vw;
	background-color: #F5F5F5;
	background-image: url(../images/book.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.students-main .students-back {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #062a5cc7;
	padding: 2rem;
}

.students-main .students-back h2 {
	font-size: 3rem;
	font-weight: 900;
	text-align: center;
	margin-top: 1rem;
	margin-bottom: 2rem;
	color: #FFFFFF;
}

.students-main .student-back .students {
	width: 90%;
	display: flex;
	justify-content: center;
}

.student-main .student-back .students .student {
	width: calc(90% / 2);
	width: 500px;
}

.students-content {
	width: 100vw;
	display: flex;
	justify-content: center;
	background-image: url(../images/eland-edu.jpeg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.students-content h2 {
	font-size: 3rem;
	font-weight: 900;
	text-align: center;
	margin-top: 2rem;
	margin-bottom: 2rem;
	color: #FFFFFF;
	background: none;
}

.students-content .students-back-first {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #062a5cc7;
}

.students-content .students-back .students {
	padding: 2rem;
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
}

.students-content .students-back .students .student {
	width: calc(90% / 2);
	background-color: #FFFFFF;
	padding: 3rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.students-content .students-back .students .student img {
	display: block;
	text-align: center;
	border: none;
	border-radius: 50%;
	margin-bottom: 1rem;
}

.students-content .students-back .students .student h2 {
	font-size: 1.5rem;
	font-weight: 900;
	margin-bottom: 1rem;
	color: #000000;
}

.students-content .students-back .students .student span {
	color: gray;
}

.students-content .students-back .students .student p {
	text-align: center;
	margin-top: 1rem;
}

.main-test {
	width: 100%;
	display: flex;
	justify-content: center;
	background-image: url(../images/book.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.main-test .test-back {
	padding: 3rem;
	width: 100%;
	background-color: rgba(255, 68, 0, 0.788);
}

.main-test .test-back .test-content {
	color: #FFFFFF;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main-test .test-back .test-content h2 {
	font-size: 2.5rem;
	font-weight: 900;
	text-align: center;
	margin-bottom: 1rem;
}

.main-test .test-back .test-content button {
	font-size: 1rem;
	font-weight: 600;
	color: #FFFFFF;
	padding: 1rem;
	padding-inline: 2rem;
	background: transparent;
	border: 2px solid white;
	border-radius: 30px;
	width: fit-content;
	transition: 1s all;
	text-align: center;
	margin-top: 1rem;
}

.main-test .test-back .test-content button:hover {
	color: #062A5C;
	background-color: #FFFFFF;
	border: 2px solid #FFFFFF;
	cursor: pointer;
}

.footer {
	width: 100%;
	display: flex;
	flex-direction: column;
	color: #BEBEBE;
}

.footer .top {
	width: 100%;
	padding: 2rem;
	background-color: #1F1F1F;
	display: flex;
	justify-content: space-around;
}

.footer .top .footer-left {
	width: 25%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.footer .top .footer-right {
	width: 25%;
}

.footer .top h2 {
	margin-bottom: 1rem;
}

.footer .top .footer-right ul {
	display: flex;
	flex-direction: column;
}

.footer .top .footer-right ul li {
	list-style: none;
	margin-block: 0.3rem;
}

.footer .top .footer-right ul li a {
	text-decoration: none;
	color: #BEBEBE;
	transition: 1s all;
}

.footer .top .footer-right ul li a:hover {
	color: #F5F5F5;
}

.footer .bottom {
	width: 100%;
	background-color: #191919;
	padding: 1rem;
	text-align: center;
}